---
import Head from "@/components/base/Head.astro";
import AlertBox from "@/components/base/AlertBox.astro";
import Header from "@/components/base/Header.astro";
import Footer from "@/components/base/Footer.astro";
import { themeClass } from "@/lib/tera";

export interface Props {
    path: string;
    title?: string;
    description?: string;
    animate?: boolean;
    class?: string;
    bodyClass?: string;
    navSpacerClass?: string;
    makeTile?: boolean;
    noIndex?: boolean;
    noTemplate?: boolean;
    noGrow?: boolean;
}

const {
    title,
    description: descriptionOverride,
    path: urlSuffix,
    class: className,
    bodyClass,
    navSpacerClass,
    makeTile = false,
    noIndex = false,
    animate = true,
    noTemplate = false,
    noGrow = false
} = Astro.props;
---

<!doctype html>
<!-- {% set branding = get_branding() %} --><!-- {% set scheme = user.color_scheme | default(value='UseSystem') %}{{ branding.name }} {{ version }} -->
<html class:list={["group/root", themeClass("light", "dark", "system")]} lang="en">
    <Head
        title={title}
        descriptionOverride={descriptionOverride}
        urlSuffix={urlSuffix}
        noIndex={noIndex}
    />
    <slot name="head" />

    <body
        class:list={[
            noGrow ? "h-screen max-h-screen overflow-hidden" : "min-h-screen",
            "container mx-auto flex flex-col justify-stretch bg-background px-2 text-text md:px-5",
            bodyClass ?? ""
        ]}
    >
        <AlertBox />
        <Header navSpacerClass={navSpacerClass} noTemplate={noTemplate} urlSuffix={urlSuffix}>
            <slot name="nav-left" />
        </Header>
        <main
            id="main"
            class:list={[
                "grow overflow-x-hidden",
                noGrow ? "overflow-y-hidden" : "",
                makeTile ? `flex flex-col gap-2 rounded-lg bg-background-100 p-4` : "",
                className ?? ""
            ]}
            transition:animate={animate ? "slide" : "none"}
            transition:name="main"
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>
