---
import type { HTMLAttributes } from "astro/types";
import type { Color as LinkColor } from "@/components/Link.astro";
import Table from "@/components/table/Table.astro";
import TableRow from "@/components/table/TableRow.astro";
import TableCol from "@/components/table/TableCol.astro";
import Variable from "@/components/tera/Variable.astro";
import For from "@/components//tera/For.astro";
import Link from "@/components/Link.astro";
import { tag, teraIf, variable } from "@/lib/tera";
import { Icon } from "astro-icon/components";
import Else from "@/components/tera/Else.astro";
import Tag from "../tera/Tag.astro";
import Avatar from "../Avatar.astro";
import PlaceIndicator from "../PlaceIndicator.astro";
import If from "../tera/If.astro";

export interface Props extends Omit<HTMLAttributes<"table">, "slot"> {
    listName: string;
    itemName?: string;
    idColName?: string;
    isMap?: boolean;
    emptyText?: string;
    addColSpan?: number;
    columns: {
        label?: string;
        name: string;
        forceNoPrefix?: boolean;
        avatarVar?: string;
        overrideList?: string;
        class?: string;
        placeIndicator?: string;
        youIndicatorUserVar?: string;
        centerHeader?: boolean;
        makeLink?: string;
    }[];
    rowId?: string;
    itemLink?: {
        class?: string;
        color?: LinkColor;
        action: (id: string) => string;
    };
    actions?: {
        class?: string;
        color?: LinkColor;
        condition?: string;
        name: string;
        icon?: string;
        action: (id: string) => string;
    }[];
    class?: string;
}

const {
    listName,
    itemName = "item",
    idColName = "id",
    rowId,
    isMap = false,
    emptyText = "No items to display",
    addColSpan = 0,
    columns,
    itemLink,
    actions,
    class: className,
    ...rest
} = Astro.props;

const makeLabel = (str: string) => {
    return str.replaceAll(/[_\-\.]/g, " ").replace(/\b\w/g, (c) => c.toUpperCase());
};

const prettyColumns = columns.map((col) => col.label ?? makeLabel(col.name));

type RenderAction = "static" | "template" | false;

const renderAction: RenderAction =
    actions === undefined || actions.length === 0
        ? false
        : actions.some((action) => action.condition !== undefined)
          ? "template"
          : "static";

const renderActionCondition =
    renderAction === "template"
        ? actions!.map((action) => action.condition ?? "true").join(" or ")
        : "";

const emptyColSpan = renderAction
    ? renderAction === "static"
        ? columns.length + 1 + addColSpan
        : `${tag(`if ${renderActionCondition}`)}${variable(`${columns.length} + 1 + ${addColSpan}`)}${tag("else")}${variable(`${columns.length} + ${addColSpan}`)}${tag("endif")}`
    : columns.length + addColSpan;
---

<Table class:list={["", className ?? ""]} {...rest}>
    <Fragment slot="header">
        {
            prettyColumns.map((col, i) => (
                <TableCol
                    scope="col"
                    as="th"
                    class={columns[i].centerHeader ? "text-center" : "text-left"}
                >
                    {col}
                </TableCol>
            ))
        }
        <slot name="head" />
        {
            renderAction && (
                <>
                    {renderAction === "template" && (
                        <Tag expression={`if ${renderActionCondition}`} />
                    )}
                    <TableCol scope="col" as="th" class="text-left">
                        Actions
                    </TableCol>
                    {renderAction === "template" && <Tag expression="endif" />}
                </>
            )
        }
    </Fragment>
    <For sourceList={listName} itemName={isMap ? `${itemName}_key, ${itemName}` : itemName}>
        <TableRow id={rowId ?? `${listName}-${itemName}-${variable("loop.index0")}`}>
            {
                columns.map((col, i) => (
                    <TableCol
                        class:list={[
                            col.youIndicatorUserVar
                                ? teraIf(
                                      `${col.youIndicatorUserVar}.id == user.id | default(value=-1)`,
                                      "font-bold",
                                      "",
                                      "",
                                      true
                                  )
                                : "",
                            col.class ?? ""
                        ]}
                        scope={i === 0 ? "row" : undefined}
                        as={i === 0 ? "th" : "td"}
                    >
                        {col.avatarVar && (
                            <Avatar
                                class:list={["me-2 inline"]}
                                size={30}
                                userVar={col.avatarVar}
                            />
                        )}
                        {i === 0 && itemLink !== undefined ? (
                            <Link
                                class:list={["my-auto", itemLink.class]}
                                color={itemLink.color}
                                href={itemLink.action(
                                    variable(
                                        `${(col.forceNoPrefix ?? false) ? "" : `${itemName}.`}${idColName}`
                                    )
                                )}
                            >
                                <Variable
                                    expression={
                                        col.overrideList
                                            ? `${col.overrideList}[loop.index0]`
                                            : `${(col.forceNoPrefix ?? false) ? "" : `${itemName}.`}${col.name}`
                                    }
                                />
                            </Link>
                        ) : col.placeIndicator !== undefined ? (
                            <PlaceIndicator
                                class={col.placeIndicator}
                                placeVar={`${(col.forceNoPrefix ?? false) ? "" : `${itemName}.`}${col.name}`}
                            />
                        ) : col.makeLink ? (
                            <Link class:list={["my-auto", col.makeLink]} href={col.makeLink}>
                                <Variable
                                    expression={
                                        col.overrideList
                                            ? `${col.overrideList}[loop.index0]`
                                            : `${(col.forceNoPrefix ?? false) ? "" : `${itemName}.`}${col.name}`
                                    }
                                />
                            </Link>
                        ) : (
                            <span class="my-auto">
                                <Variable
                                    expression={
                                        col.overrideList
                                            ? `${col.overrideList}[loop.index0]`
                                            : `${(col.forceNoPrefix ?? false) ? "" : `${itemName}.`}${col.name}`
                                    }
                                />
                            </span>
                        )}
                        {col.youIndicatorUserVar && (
                            <If
                                debugEval={true}
                                expression={`${col.youIndicatorUserVar}.id == user.id | default(value=-1)`}
                            >
                                <span class="ms-2 hidden rounded-full bg-primary-500 px-2 py-1 font-bold text-white lg:inline">
                                    You
                                </span>
                            </If>
                        )}
                    </TableCol>
                ))
            }
            <slot />
            {
                renderAction && (
                    <>
                        {renderAction === "template" && (
                            <Tag expression={`if ${renderActionCondition}`} />
                        )}
                        <TableCol class="flex flex-row gap-3">
                            {actions!.map((action) => (
                                <>
                                    {action.condition && (
                                        <Tag expression={`if ${action.condition}`} />
                                    )}
                                    <Link
                                        class:list={[
                                            "flex flex-row align-middle",
                                            action.class ?? ""
                                        ]}
                                        color={action.color}
                                        href={action.action(variable(`${itemName}.${idColName}`))}
                                    >
                                        {action.icon !== undefined && (
                                            <Icon name={action.icon} class="my-auto" />
                                        )}
                                        <span class="my-auto">{action.name}</span>
                                    </Link>
                                    {action.condition && <Tag expression="endif" />}
                                </>
                            ))}
                        </TableCol>
                        {renderAction === "template" && <Tag expression="endif" />}
                    </>
                )
            }
        </TableRow>
        <Else>
            <TableRow>
                <TableCol class="py-4 text-center" colspan={emptyColSpan}>
                    {emptyText}
                </TableCol>
            </TableRow>
        </Else>
    </For>
</Table>
