---
import Avatar from "@/components/Avatar.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
import Button from "@/components/Button.astro";
import Form from "@/components/Form.astro";
import Link from "@/components/Link.astro";
import Progress from "@/components/Progress.astro";
import Tile from "@/components/Tile.astro";
import Title from "@/components/Title.astro";
import ProblemsTable from "@/components/table/ProblemsTable.astro";
import Else from "@/components/tera/Else.astro";
import For from "@/components/tera/For.astro";
import If from "@/components/tera/If.astro";
import Tag from "@/components/tera/Tag.astro";
import Variable from "@/components/tera/Variable.astro";
import ContestLayout from "@/layouts/ContestLayout.astro";
import { tag } from "@/lib/tera";
import { variable } from "@/lib/tera";

const description = `${variable("branding.name")} ${variable("contest.name")} ${variable("contest.description | truncate(length=100)")}`;
---

<ContestLayout
    showAdminVar="is_admin"
    description={description}
    path=`/contests/${variable("contest.id")}`
    class="flex flex-col gap-4"
    title={variable("contest.name")}
>
    <Tile class="flex flex-col">
        <BreadCrumb
            entries={[
                ["Contests", "/contests"],
                [variable("contest.name"), `/contests/${variable("contest.id")}`]
            ]}
        />
        <div class="flex flex-row gap-2">
            <div class="flex flex-col">
                <hgroup>
                    <Title><Variable expression="contest.name" /></Title>
                    <small class="text-lg text-gray-500">
                        <b><Variable expression="start_formatted" /></b>
                        to
                        <b><Variable expression="end_formatted" /></b>
                        (<Variable expression="tz_name" />)
                    </small>
                </hgroup>
            </div>
            <span class="grow"></span>
            <div class="flex flex-row flex-wrap justify-end gap-2 align-middle">
                <If expression="logged_in and not participant and not can_edit and not ended">
                    <Form noTemplate action={`/contests/${variable("contest.id")}/join`}>
                        <Fragment slot="hr"></Fragment>
                        <Fragment slot="submit">
                            <Button
                                class="my-auto"
                                color="primary"
                                id="sign-up"
                                icon="tabler:user-plus"
                                size="lg">Sign Up</Button
                            >
                        </Fragment>
                    </Form>
                </If>
                <Button
                    class:list={[
                        "my-auto",
                        import.meta.env.DEV
                            ? "hidden"
                            : `${tag("if not started and not can_edit", true)}hidden${tag("endif")}`
                    ]}
                    color="secondary"
                    id="go-to-problems"
                    icon="tabler:puzzle"
                    size="lg"
                    as="a"
                    href={`/contests/${variable("contest.id")}/problems`}>Problems</Button
                >
                <Button
                    class:list={[
                        "my-auto",
                        import.meta.env.DEV
                            ? "hidden"
                            : `${tag("if not started and not can_edit", true)}hidden${tag("endif")}`
                    ]}
                    color="secondary"
                    id="go-to-leaderboard"
                    icon="tabler:trophy"
                    size="lg"
                    as="a"
                    href={`/contests/${variable("contest.id")}/leaderboard`}>Leaderboard</Button
                >
                <If expression="is_admin">
                    <Button
                        class="my-auto"
                        color="secondary"
                        justIcon
                        icon="tabler:pencil"
                        size="lg"
                        as="a"
                        aria-label="Edit Contest"
                        href={`/contests/${variable("contest.id")}/edit`}
                    />
                    <Button
                        class="my-auto"
                        color="secondary"
                        justIcon
                        aria-label="Contest Admin"
                        icon="tabler:badge-filled"
                        size="lg"
                        as="a"
                        href={`/contests/${variable("contest.id")}/admin`}
                    />
                </If>
                <If
                    debugEval={true}
                    expression="not started and not can_edit and participant or not logged_in"
                >
                    <span id="countdown" class="my-auto text-xl text-gray-500">
                        Contest starts <span id="start-word">at</span>
                        <span
                            data-time-str={variable("start_local_html", "2024-03-22T12:32:00")}
                            id="start-time"
                        >
                            <Variable expression="start_formatted" debugEval="NEVER!!!" />
                        </span>
                    </span>
                </If>
            </div>
        </div>
    </Tile>
    <div class="flex h-full w-full flex-col gap-4 lg:flex-row">
        <div class="flex h-full grow flex-col gap-4 lg:w-2/3">
            <Tile class="flex flex-col gap-2">
                <h2 class="text-2xl font-bold">Description</h2>
                <p><Variable expression="contest.description" /></p>
            </Tile>
            <If debugEval={true} expression="started or can_edit">
                <Tile class="flex grow flex-col gap-2 overflow-hidden">
                    <h2 class="text-2xl font-bold">Problems</h2>
                    <Tag expression="set contest_id = contest.id" />
                    <ProblemsTable class="overflow-y-auto" />
                </Tile>
            </If>
        </div>
        <div class="flex h-full grow flex-col gap-4 lg:w-1/3">
            <Tile class="flex h-1/2 flex-col gap-2 overflow-hidden">
                <h2 class="text-2xl font-bold">Judges</h2>
                <ul class="flex flex-col gap-2 overflow-auto">
                    <For itemName="participant" sourceList="judges">
                        <li class="flex flex-row gap-2">
                            <Avatar
                                size={35}
                                class="my-auto"
                                name={variable(
                                    "participant.1.display_name | default(value=participant.1.default_display_name)"
                                )}
                                userVar="participant.1"
                            />
                            <Link href=`/profile/${variable("participant.1.id")}` class="my-auto"
                                ><Variable
                                    expression="participant.1.display_name | default(value=participant.1.default_display_name)"
                                /></Link
                            >
                        </li>
                        <Else>
                            <li>No Judges :(</li>
                        </Else>
                    </For>
                </ul>
            </Tile>
            <Tile class="flex h-1/2 flex-col gap-2 overflow-hidden">
                <h2 class="text-2xl font-bold">Participants</h2>
                <If debugEval={true} expression="contest.max_participants">
                    <span class="text-sm text-gray-500">
                        <Variable expression="participants | length" /> / <Variable
                            expression="contest.max_participants"
                        />
                    </span>
                </If>
                <ul class="flex flex-col gap-2 overflow-auto">
                    <For itemName="participant" sourceList="participants">
                        <li class="flex flex-row gap-2">
                            <Avatar
                                size={35}
                                class="my-auto"
                                name={variable(
                                    "participant.1.display_name | default(value=participant.1.default_display_name)"
                                )}
                                userVar="participant.1"
                            />
                            <Link href=`/profile/${variable("participant.1.id")}` class="my-auto"
                                ><Variable
                                    expression="participant.1.display_name | default(value=participant.1.default_display_name)"
                                /></Link
                            >
                        </li>
                        <Else>
                            <li>No one has signed up yet</li>
                        </Else>
                    </For>
                </ul>
            </Tile>
        </div>
    </div>
</ContestLayout>

<script>
    import { makeCountdown } from "@/lib/countdown";

    document.addEventListener("astro:page-load", () => {
        const startWord = document.getElementById("start-word") as HTMLElement | null;
        const startTime = document.getElementById("start-time") as HTMLElement | null;
        const countdown = document.getElementById("countdown") as HTMLElement | null;
        const goButton = document.getElementById("go-to-problems") as HTMLAnchorElement | null;
        const goButton2 = document.getElementById("go-to-leaderboard") as HTMLAnchorElement | null;

        const toggleButtons = (hidden: boolean) => {
            if (goButton && goButton2) {
                if (hidden) {
                    goButton.classList.add("hidden");
                    goButton2.classList.add("hidden");
                } else {
                    goButton.classList.remove("hidden");
                    goButton2.classList.remove("hidden");
                }
            }
        };

        if (startWord && startTime && countdown && goButton) {
            const onEnd = () => {
                countdown.classList.add("hidden");
                toggleButtons(false);
            };

            const onTick = (time: string) => {
                countdown.innerText = `Contest starts in ${time}`;
            };

            const start = new Date(startTime.dataset.timeStr as string);
            makeCountdown(start, onTick, onEnd, onEnd);
        }
    });
</script>
